.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin: 0;
  // padding: 0;

  @media screen and (max-width: 480px) {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 480px;
    height: 609px;
    width: 100%;
  }
  @media screen and(min-width:481px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (max-width: 1199px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 15px;
    margin-left: 15px;
  }
  @media screen and(min-width:1200px) {
    width: 528px;
    height: 581px;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: map-get($colors, "title");
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &-icon {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
  }
}
.modal-icon {
  position: absolute;
  left: 90%;
  top: 1%;
}
.btn-close {
  height: 30px;
  width: 30px;

  background-color: map-get($colors, "title");
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  @extend %transition;

  &:hover .icon-exit,
  :focus .icon-exit {
    fill: map-get($colors, "accent");
  }
}
