.logo {
  text-decoration: none;
  color: map-get($colors, "accent");
  font-size: 24px;
  line-height: 1.166;
  font-family: "Raleway";
  font-weight: map-get($fontWeight, "bold");
  letter-spacing: map-get($letterSpacing, "more");
  & span {
    color: map-get($colors, "primary");
  }
}
.footer-logo {
  color: map-get($colors, "title");

  & span {
    color: map-get($colors, "accent");
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
