.change {
  padding-bottom: 0;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
  }
  .change-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .change-title {
    display: none;
  }
  .change-list {
    @media screen and (max-width: 767px) {
      text-align: start;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
    .item {
      @media screen and (max-width: 767px) {
        display: inline;
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.button-secondary {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
  padding: 6px 22px;

  color: map-get($colors, "primary");
  background-color: map-get($colors, "topcolor");

  font-weight: map-get($fontWeight, "medial");
  font-size: 16px;
  line-height: 1.6;
  @extend %transition;
  &:hover,
  :focus {
    color: map-get($colors, "title");
    background-color: map-get($colors, "accent");
  }
}

// .change-list {
//   @media screen and (max-width: 767px) {
//     text-align: start;
//   }
//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: center;
//   }
//   .item {
//     @media screen and (max-width: 767px) {
//       display: inline;
//     }
//     @media screen and (min-width: 768px) {
//       margin-bottom: 0;
//     }
//   }
// }
