// .client-list {
//   cursor: pointer;
//   @extend %flexcardset;
//   & .client-item {
//     margin-left: 30px;
//     flex-basis: calc(100% / 6 - 30px);
//   }
// }

// .client-item {
//   @extend %flexboxcentre;
//   width: 170px;
//   height: 90px;

//   border: 1px solid map-get($colors, "icon");
//   border-radius: 4px;

//   @extend %transition;
//   &:hover,
//   :focus {
//     border: 1px solid map-get($colors, "accent");
//     @extend %transition;
//     & svg {
//       fill: map-get($colors, "accent");
//     }
//   }
// }
// .company {
//   fill: map-get($colors, "icon");
//   @extend %transition;
// }

.client-item {
  @extend %flexboxcentre;
  width: 170px;
  height: 90px;

  border: 1px solid map-get($colors, "icon");
  border-radius: 4px;

  @extend %transition;
  &:hover,
  :focus {
    border: 1px solid map-get($colors, "accent");
    @extend %transition;
    & svg {
      fill: map-get($colors, "accent");
    }
  }
}
.company {
  fill: map-get($colors, "icon");
  @extend %transition;
}
.client-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .client-item {
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}
